@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Default font for headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
  }

  /* Default font for body text */
  body, p, span, a, li {
    font-family: 'Montserrat', sans-serif;
  }
}



@layer components{
  .carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
  }
  
  .carousel {
    width: 100%;
  }
  
  .carousel-item {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  
}