@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "poppins", "sans-serif";
  }
  body {
    background-color: #fdfdfd;
    overflow-x: hidden;
  }
}

.logo-font {
  font-family: "Mynerve", sans-serif;
}

/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Body Font */
p,
span,
a,
li {
  font-family: "Nunito", sans-serif;
}

.side-bar-height {
  height: calc(100vh - 5rem);
}
